version: '3.8'
services:
    app:
        build:
            context: ./.docker/8.2
            dockerfile: Dockerfile
            args:
                WWWGROUP: '${WWWGROUP}'
                XDEBUG: '${APP_DEBUG:-false}'
                XDEBUG_MODE: '${SAIL_XDEBUG_MODE:-coverage}'
                XDEBUG_PORT: '${SAIL_XDEBUG_PORT:-9003}'
        image: sail-8.2/app
        extra_hosts:
            - 'host.docker.internal:host-gateway'
        ports:
            - '${KOOL_APP_PORT:-80}:80'
        environment:
            WWWUSER: '${WWWUSER}'
            LARAVEL_SAIL: 1
            ASUSER: '${KOOL_ASUSER:-0}'
            UID: '${UID:-0}'
            edit-other-user-password: true
        volumes:
            - '.:/var/www/html'
        networks:
            - sail
        depends_on:
            - pgsql
            - redis
            - rocketchat
    pgsql:
        image: 'postgres:15-alpine'
        ports:
            - '${DB_PORT:-5432}:5432'
        environment:
            PGPASSWORD: '${DB_PASSWORD:-secret}'
            POSTGRES_DB: '${DB_DATABASE:-database}'
            POSTGRES_USER: '${DB_USERNAME:-user}'
            POSTGRES_PASSWORD: '${DB_PASSWORD:-pass}'
        volumes:
            - 'sail-pgsql:/var/lib/postgresql/data'
            - './vendor/laravel/sail/database/pgsql/create-testing-database.sql:/docker-entrypoint-initdb.d/10-create-testing-database.sql'
        networks:
            - sail
        healthcheck:
            test:
                - CMD
                - pg_isready
                - '-q'
                - '-d'
                - '${DB_DATABASE}'
                - '-U'
                - '${DB_USERNAME}'
            retries: 3
            timeout: 5s
    redis:
        image: 'redis:6-alpine'
        ports:
            - '${FORWARD_REDIS_PORT:-6379}:6379'
        volumes:
            - 'sail-redis:/data'
        networks:
            - sail
        healthcheck:
            test:
                - CMD
                - redis-cli
                - ping
            retries: 3
            timeout: 5s
    mailhog:
        image: 'mailhog/mailhog:latest'
        logging:
            driver: none
        ports:
            - '${FORWARD_MAILHOG_PORT:-1025}:1025'
            - '${FORWARD_MAILHOG_DASHBOARD_PORT:-8025}:8025'
        networks:
            - sail
    meilisearch:
        image: 'getmeili/meilisearch:latest'
        ports:
            - '${FORWARD_MEILISEARCH_PORT:-7700}:7700'
        volumes:
            - 'sail-meilisearch:/meili_data'
        networks:
            - sail
        healthcheck:
            test:
                [
                    "CMD",
                    "wget",
                    "--no-verbose",
                    "--spider",
                    "http://localhost:7700/health"
                ]
            retries: 3
            timeout: 5s
    rocketchat:
        image: registry.rocket.chat/rocketchat/rocket.chat:${RELEASE:-latest}
        restart: always
        labels:
            traefik.enable: "true"
            traefik.http.routers.rocketchat.rule: Host(`${DOMAIN:-}`)
            traefik.http.routers.rocketchat.tls: "true"
            traefik.http.routers.rocketchat.entrypoints: https
            traefik.http.routers.rocketchat.tls.certresolver: le
        environment:
            MONGO_URL: "${MONGO_URL:-mongodb://${MONGODB_ADVERTISED_HOSTNAME:-mongodb}:${MONGODB_INITIAL_PRIMARY_PORT_NUMBER:-27017}/${MONGODB_DATABASE:-rocketchat}?replicaSet=${MONGODB_REPLICA_SET_NAME:-rs0}}"
            MONGO_OPLOG_URL: "${MONGO_OPLOG_URL:-mongodb://${MONGODB_ADVERTISED_HOSTNAME:-mongodb}:${MONGODB_INITIAL_PRIMARY_PORT_NUMBER:-27017}/local?replicaSet=${MONGODB_REPLICA_SET_NAME:-rs0}}"
            ROOT_URL: ${ROOT_URL:-http://localhost:${HOST_PORT:-3000}}
            PORT: ${PORT:-3000}
            DEPLOY_METHOD: docker
            DEPLOY_PLATFORM: ${DEPLOY_PLATFORM:-}
            REG_TOKEN: ${REG_TOKEN:-}
            ADMIN_NAME: "${ROCKET_CHAT_NAME:-admin user}"
            ADMIN_USERNAME: ${ROCKET_CHAT_USER_NAME:-admin.user}
            ADMIN_EMAIL: ${ROCKET_CHAT_EMAIL:-rocker.admin@localhost.com}
            ADMIN_PASS: ${ROCKET_CHAT_PASSWORD:-rocker.secret}
            OVERWRITE_SETTING_Show_Setup_Wizard: completed
            MAIL_URL: smtp://localhost:${FORWARD_MAILHOG_PORT:-1025}
            CREATE_TOKENS_FOR_USERS: true
        volumes:
            - 'sail-rocket:/data'
            - './.docker/rocketchat/uploads:/app/uploads'
            - './.docker/rocketchat/avatars:/app/avatars'
        depends_on:
            - mongodb
        expose:
            - ${PORT:-3000}
        ports:
            - "${BIND_IP:-0.0.0.0}:${HOST_PORT:-3000}:${PORT:-3000}"
        networks:
            - sail
    mongodb:
        image: docker.io/bitnami/mongodb:${MONGODB_VERSION:-5.0}
        restart: always
        environment:
            MONGODB_REPLICA_SET_MODE: primary
            MONGODB_REPLICA_SET_NAME: ${MONGODB_REPLICA_SET_NAME:-rs0}
            MONGODB_PORT_NUMBER: ${MONGODB_PORT_NUMBER:-27017}
            MONGODB_INITIAL_PRIMARY_HOST: ${MONGODB_INITIAL_PRIMARY_HOST:-mongodb}
            MONGODB_INITIAL_PRIMARY_PORT_NUMBER: ${MONGODB_INITIAL_PRIMARY_PORT_NUMBER:-27017}
            MONGODB_ADVERTISED_HOSTNAME: ${MONGODB_ADVERTISED_HOSTNAME:-mongodb}
            MONGODB_ENABLE_JOURNAL: ${MONGODB_ENABLE_JOURNAL:-true}
            ALLOW_EMPTY_PASSWORD: ${ALLOW_EMPTY_PASSWORD:-yes}
        volumes:
            - sail-mongodb:/bitnami/mongodb
        networks:
            - sail
networks:
    sail:
        driver: bridge
volumes:
    sail-pgsql:
        driver: local
    sail-redis:
        driver: local
    sail-meilisearch:
        driver: local
    sail-mongodb:
        driver: local
    sail-rocket:
        driver: local
